<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <form action="/" method="POST" class="login-form">
        <div class="fields">
            <label>Nombre de usuario:</label>
            <input class="input-fields" type="text" name="username">
        </div>
        <div class="fields">
            <label>Contraseña:</label>
            <input type="password" name="password" class="input-fields">
        </div>
        <button class="form-buttons" type="submit">Enviar</button>
    </form>
</body>

</html>