/* Breakpoint de desktops */
@media (min-width: 1200px) {
  .main-header-topbar, .main-header-bottombar {
    margin: auto;
    max-width: 1200px;
  }
  .wrapper {
    width: 25%;
  }
  .main-header-bottombar li {
    margin: 0 10px;
  }
  .main-header-bottombar li a{
    font-size: 16px;
  }
  .copy-header {
    max-width: none;
    font-size: 18px;
  }
  .product:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .product .product-content h3{
    display: none;
    }
  .product:hover .product-content h3 {
    display: block;
  }
  .product .product-content .truck-icon {
    transition: transform 0.5s;
  }
  .product:hover .product-content .truck-icon {
    transform: rotate(-90deg);
  }
  .footer-text {
    display: flex;
  }
  .footer-text section {
    padding: 0px 15px;
  }
  .footer-text i:hover {
    color:black
  }
}
